/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 16px 136px 17px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
@media (max-width: 800px) {
  .top_bar {
    padding-left: 25px;
    padding-right: 30px;
  }
}
.top_bar .best_shop_top {
  width: 142px;
  height: 37px;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #08a6e4;
  padding-right: 136px;
}

.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .top_menu {
    display: none;
  }
}
.top_menu__link {
  width: 100%;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  color: #a5a5a5;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 25px 25px;
  border-bottom: 4px solid transparent;
}
.top_menu__link:hover {
  color: #000000;
  border-color: #08a6e4;
  cursor: pointer;
}
.sell_more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.sell_more__h1 {
  margin-top: 130px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 3.063rem;
  text-align: center;
}
.sell_more__paragraph {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.sell_more__button {
  width: 440px;
  height: 67px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #08a6e4;
  box-shadow: rgba(7, 172, 230, 0.16);
  border: none;
  border-radius: 40px;
  margin-top: 38px;
  transition: 1s ease-in-out;
}
.sell_more__button:hover {
  color: #0075af;
  background-color: rgba(7, 172, 230, 0.16);
  cursor: pointer;
}
@media (max-width: 800px) {
  .sell_more__button {
    max-width: 80%;
  }
}

.landing_background {
  width: 100%;
  border: none;
}
@media (max-width: 800px) {
  .landing_background {
    max-height: 375px;
  }
}

.stats {
  display: block;
  text-align: center;
}
.stats__h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
}
@media (max-width: 800px) {
  .stats__h2 {
    padding: 13px 36px 25px;
  }
}
.stats__tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .stats__tile {
    flex-direction: column;
    width: 100%;
  }
}
.stats__tile__single {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 95px 149px;
}
@media (max-width: 800px) {
  .stats__tile__single {
    padding: 0 36px 25px;
  }
}
.stats__tile__icon1, .stats__tile__icon2, .stats__tile__icon3 {
  width: 62.71px;
  height: 62.71px;
  border-radius: 63px;
  background-color: #fb3b64;
  position: relative;
}
.stats__tile__icon1::before, .stats__tile__icon2::before, .stats__tile__icon3::before {
  content: "";
  display: block;
  width: 52px;
  height: 44px;
  position: absolute;
  z-index: 1;
  right: -15px;
  top: 10px;
}
.stats__tile__icon1::before {
  background-color: lime;
}
.stats__tile__icon2 {
  background-color: #08a6e4;
}
.stats__tile__icon2::before {
  background-color: lightcoral;
}
.stats__tile__icon3 {
  background-color: #55dfb4;
}
.stats__tile__icon3::before {
  background-color: olive;
}
.stats__tile__numbers {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 19px;
}
.stats__tile__details {
  font-family: "Raleway", sans-serif;
  font-size: 1.063rem;
  color: #a5a5a5;
}

.portfolio__background {
  width: 100%;
  height: 1350px;
  background-color: #f7f7f7;
}

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.portfolio__tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  background-color: #ffffff;
}
@media (max-width: 800px) {
  .portfolio__tile {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-width: 416px;
  }
}
.portfolio__tile__text {
  max-width: 416px;
  padding: 0 100px;
}
@media (max-width: 800px) {
  .portfolio__tile__text {
    max-width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 27px 21px 10px;
  }
}
@media (max-width: 800px) and (max-width: 800px) {
  .portfolio__tile__text {
    padding-left: 0px;
  }
}
.portfolio__tile__text__h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .portfolio__tile__text__h3 {
    text-align: left;
  }
}
.portfolio__tile__text__paragraph {
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
}
.portfolio__tile__picture1, .portfolio__tile__picture2, .portfolio__tile__picture3 {
  margin: 38px 0;
  margin-right: 71px;
}
@media (max-width: 800px) {
  .portfolio__tile__picture1, .portfolio__tile__picture2, .portfolio__tile__picture3 {
    margin: 0 auto;
  }
}
.portfolio__tile__picture1 {
  width: 180px;
  height: 180px;
  border-radius: 21px;
  background-color: #fb3b64;
  transform: rotate(45deg);
}
@media (max-width: 800px) {
  .portfolio__tile__picture1 {
    width: 90px;
    height: 90px;
    margin: 30px;
  }
}
.portfolio__tile__picture2 {
  width: 320px;
  height: 320px;
  border-radius: 320px;
  background-color: #08a6e4;
}
@media (max-width: 800px) {
  .portfolio__tile__picture2 {
    width: 131px;
    height: 131px;
    margin: 12px;
  }
}
.portfolio__tile__picture3 {
  width: 440px;
  height: 370px;
  border-radius: 5px;
  background-color: #55dfb4;
}
@media (max-width: 800px) {
  .portfolio__tile__picture3 {
    width: 314px;
    height: 195px;
  }
}
.portfolio__tile .underscore1,
.portfolio__tile .underscore2,
.portfolio__tile .underscore3 {
  width: 327px;
  border-bottom: 4px solid #fb3b64;
  margin-top: 50px;
}
@media (max-width: 800px) {
  .portfolio__tile .underscore1,
.portfolio__tile .underscore2,
.portfolio__tile .underscore3 {
    display: none;
  }
}
.portfolio__tile .underscore2 {
  border-color: #08a6e4;
}
.portfolio__tile .underscore3 {
  border-color: #55dfb4;
}
.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  border: 0px none transparent;
}
@media (max-width: 800px) {
  .separator {
    flex-direction: column;
  }
}

.separator > .portfolio__tile__text {
  align-items: center;
  justify-content: center;
  height: 370px;
  margin-right: 60px;
  border: 1px solid #e8e9ed;
  background-color: #ffffff;
}
.separator .portfolio__tile__text__h3 {
  margin-top: 70px;
}

.separator > .portfolio__tile__picture3 {
  border: 1px solid #e8e9ed;
}

.pricing__h3 {
  font-size: 2.625rem;
}

.pricing__tile__h3 {
  color: red;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
  box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */
