.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 16px 136px 17px;
  background-color: $color-white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  @include mobile {
    padding-left: 25px;
    padding-right: 30px;
  }
  .best_shop_top {
    width: 142px;
    height: 37px;
    font-family: $raleway;
    font-size: 2rem;
    color: $color-primary;
    padding-right: 136px;
  }
}

.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    display: none;
  }
  &__item {
  }
  &__link {
    width: 100%;
    justify-content: space-between;
    font-family: $raleway;
    color: $color-grey;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 25px 25px;
    border-bottom: 4px solid transparent;

    &:hover {
      color: $color-black;
      border-color: $color-primary;
      cursor: pointer;
    }
  }
  li:first-of-type > .top_menu__link {
  }
  li:nth-of-type(4) > .top_menu__link {
  }
}
